@import "variables";

//* {
//  box-sizing: border-box;
//}

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  font-family: $font;
  font-size: 13px;
  background-color: $bgcolor;
  color: $white;
}

/*-----------------------------------------HEADER----------------------------------*/



/*-----------------------------------------TOP BLOG----------------------------------*/



/*-----------------------------------------MAIN----------------------------------*/

/*-----------------------------------------FOOTER----------------------------------*/


/*-----------------------------------------MEDIA----------------------------------*/

@media (min-width: 576px) {

}

@media (min-width: 1200px) {


}