body {
  font-family: "Century Gothic Bold", Sans-serif;
  font-size: 13px;
  background-color: #F6F6F6;
  color: #FFF; }

/*-----------------------------------------HEADER----------------------------------*/
.container-fluid {
  max-width: 1394px; }

img {
  width: 100%;
  height: auto; }

header
.nav-item {
  margin-left: 80px; }

header
.navbar
.nav-link {
  color: #000;
  font-family: "Century Gothic Bold", Sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.6px; }
  header
  .navbar
  .nav-link .nav-link:hover {
    transition: 1s;
    color: #4E4D4D;
    background-color: #FFEA00;
    padding: 8px 8px; }

.navbar .active {
  background-color: #FFEA00; }

.navbar-toggler {
  font-size: 14px; }

/*-----------------------------------------PORTFOLIO----------------------------------*/
.portfolio .title-post h1 {
  color: #414146;
  font-size: 20px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 25px; }

.row {
  margin: 0; }

.portfolio .bg-portfolio h2 {
  color: #FFEA00;
  font-family: "Century Gothic Bold", Sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase; }

.bg-portfolio {
  background: url("../img/portfolio/slider_bg.png");
  margin-bottom: 80px; }
  .bg-portfolio h2 {
    padding: 20px 100px 20px 20px;
    background-color: #4E4D4D;
    margin: 40px 0; }

.title-post {
  text-align: center; }

.portfolio .title-post p {
  color: #414146;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 35px; }

.designs-card {
  position: relative;
  width: 100%; }

.container .nav-tabs .nav-link {
  color: #4E4D4D;
  font-size: 24px;
  font-weight: bold;
  line-height: 21px; }

.image {
  display: block;
  padding: 15px 5px; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s;
  background-color: #FFEA00; }

.designs-card:hover .overlay {
  opacity: 0.5; }

.icon {
  color: #FFF;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.icon-right-open-big {
  padding: 40px;
  color: #FFF;
  background-color: #4E4D4D;
  font-size: 50px;
  text-decoration: none; }

.icon-right-open-big:hover {
  background-color: #4E4D4D;
  text-decoration: none; }

/*-----------------------------------------FOOTER----------------------------------*/
.footer-top {
  background-color: #414146;
  padding-bottom: 30px;
  line-height: 21px; }

.footer-top .row {
  margin: 0; }

.footer-top h2 {
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  padding: 35px 10px 35px 0;
  margin: 0; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #4E4D4D;
  background-color: #FFEA00; }

.nav-item:hover {
  color: #4E4D4D;
  background-color: #FFEA00; }

.nav-tabs {
  border-bottom: none; }

.footer-top .left .about a {
  font-weight: bold;
  line-height: 38px;
  color: #FFF;
  background-color: #000;
  border-bottom: 3px solid #FFEA00;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 15px; }

.footer-top p {
  padding-bottom: 15px; }

.footer-top .photo li {
  padding: 2px; }

.photo .row {
  margin-left: 0; }

.footer-top .tweets p a {
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  line-height: 21px; }

.footer-top .tweets span {
  color: #FFEA00; }

.footer-top .left, .center, .right {
  padding: 0 1%; }

.footer-top .tweets p {
  padding: 0 0 0 40px;
  margin: 0; }

.footer-top .days-ago {
  color: #FFEA00;
  font-size: 8px;
  font-weight: bold;
  line-height: 21px; }

.tweets .row li {
  margin-bottom: 15px; }

.tweets .row p:first-child {
  background: url(../img/twitter-icon.png) left no-repeat;
  padding: 0 0 0 40px; }

.footer-top .social a {
  color: #FFF;
  background-color: #000;
  padding: 5px 5px 0; }

.footer-top .social a:hover {
  color: #5E45DD; }

.social ul {
  display: flex;
  align-items: center; }

.social ul li {
  padding: 1px; }

.follow input {
  border: none;
  border-bottom: 2px solid #FFEA00;
  background-color: transparent; }

.icon-envelope-o, .icon-phone, .icon-map-marker {
  color: #FFF;
  background-color: #000;
  padding: 5px 7px;
  margin-right: 20px; }

.tel a:hover, .mail a:hover {
  color: #5E45DD;
  transition: 1s; }

.contact a {
  color: #F6F6F6;
  font-family: "Century Gothic Bold", Sans-serif;
  font-size: 13px; }

.button .icon-envelope-o:hover {
  background-color: #5E45DD;
  transition: 1s; }

.tel p:last-child {
  margin-left: 46%;
  padding-top: 0;
  margin-top: -20px; }

.footer-bottom {
  background-color: #000; }

.footer-bottom p {
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
  margin: 0; }

.footer-bottom .nav-item {
  margin-left: 80px; }

.footer-bottom li {
  text-transform: uppercase; }

.footer-bottom .navbar-dark {
  padding: 15px 0; }

.footer-bottom .navbar .nav-link:hover {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #4E4D4D;
  background-color: #FFEA00; }

/*-----------------------------------------MEDIA----------------------------------*/
@media (min-width: 576px) {
  .navbar-toggler {
    font-size: 24px; } }
@media (min-width: 1200px) {
  header .navbar .nav-link {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.6px; }

  .portfolio .title-post h1 {
    font-size: 35px; }

  .portfolio .title-post p {
    font-size: 24px; }

  .image {
    padding: 30px 10px; } }

/*# sourceMappingURL=styleportfolio.css.map */
