body{
  font-family: 'Century Gothic Bold';
  font-size: 13px;
  background-color: #F6F6F6;
  color: #FFF;
}

//-----------------------------------------HEADER----------------------------------//

.container-fluid {
  max-width: 1394px;
  margin: 0 auto;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

header .nav-item {
  margin-left: 80px;
}

header .navbar .nav-link {
  color: #000000;
  font-family: Code;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

header .navbar .nav-link:hover {
  transition: 1s;
  color: #4E4D4D;
  background-color: #ffea00;
  padding: 8px 8px;
}

.navbar .active {
  background-color: #ffea00;
}

//-----------------------------------------TOP----------------------------------//

.slider {
	margin-bottom: 90px;
}

.carousel-indicators li {
	background-color: #414146;
	max-width: 15px;
	min-height: 15px;
}
.carousel-indicators li.active {
	background-color: #ffea00;
	max-width: 15px;
	max-height: 15px;
}

.top {
  background-image: url('../img/slider_bg.webp');
  width: 100%;
  margin-bottom: 90px;
}

.carousel-item .carousel-caption h1 {
  color: #000000;
  font-size: 70px;
  font-weight: bold;
  line-height: 85.01px;
  text-transform: uppercase;
  background-color: #FFEA00;
}

.top ol {
  margin: 0px;
}

.carousel-item .carousel-caption p {
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  background-color: #414146;
}

.carousel-item .carousel-caption a {
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
  color: #FFF;
  background-color: #000;  
  border-bottom: 3px solid #FFEA00;
}

.icon-right-open-big:before {
    background-color: black;
    padding: 20px 5px 20px 10px;
}
.icon-left-open-big:before {
    background-color: black;
    padding: 20px 10px 20px 5px;
}



// .designs .title-post h1 {
//   color: #424147;
//   font-size: 35px;
//   font-weight: bold;
//   line-height: 21px;
//   text-transform: uppercase;
//   margin-bottom: 25px;
// }

// .title-post {
//   text-align: center;
// }

// .designs .title-post p {
//   color: #424147;
//   font-size: 24px;
//   font-weight: bold;
//   line-height: 21px;
//   margin-bottom: 35px;
// }

// .card-block {
//   background-color: #414146;
//   padding: 20px;
// }

// .carousel-caption {
//   top: 15%;
//   left: 5%;
//   right: 5%;
//   text-align: left;
// }

// .carousel-caption a {
//   padding: 11px 29px;
// }

// .carousel-caption p {
//   padding: 5px;
//   margin-bottom: 50px;
// }

// .carousel-caption h1 {
//   padding: 13px;
// }

// .card-block .card-title h2 {
//   color: #ffffff;
//   font-family: Code;
//   font-size: 20px;
//   font-weight: bold;
//   line-height: 23px;
//   letter-spacing: 2px;
//   text-align: center;
// }

// .card-block p {
//   color: #ffea00;
//   font-size: 10px;
//   font-weight: bold;
//   line-height: 17px;
//   letter-spacing: 0.2px;
//   text-align: right;
// }

// .card-block p span {
//   color: #FFF;
// }

// .design .card {
//   max-width: 250px;
// }

// .card-body .card-title {
//   color: #000000;
//   font-family: Code;
//   font-size: 20px;
//   font-weight: bold;
//   line-height: 32px;
//   letter-spacing: 2px;
// }

// .designs-card:nth-child .visible {
//   display: none;
// }

// //                 .designs-card:hover :nth-child(hover) {
// //              display: block;
// // }

// //              .designs-card:hover :nth-child(visible) {
// //   display: none;
// // }

// .card-body {
//   background-color: #ffea00;
// }

// .card-footer {
//   font-size: 13px;
//   font-weight: bold;
//   line-height: 17px;
//   letter-spacing: 0.26px;
//   background-color: #414146;
// }

// .visible h2 {
//  text-transform: uppercase;
// }
// .slider img {
//   padding: 10px;
// }

// //--------------------------WORK----------------------//
// .work .row h1 {
//   color: #ffea00;
//   font-size: 18px;
//   font-weight: bold;
//   line-height: 21px;
//   text-transform: uppercase;
//   background-color: #424147;
//   padding: 10px 20px;
//   margin-bottom: 16px;
// }

// .work .row p {
//   color: #424146;
//   font-size: 16px;
//   font-weight: bold;
//   line-height: 21px;
//   margin-bottom: 40px;
// }

// .work .row .col, .clients .row .col {
//   justify-content: center;
//   margin-bottom: 30px;
// }





// * {
//   box-sizing: border-box;
// }

// .grid:after {
//   content: '';
//   display: block;
//   clear: both;
// }

// // .grid {
// //     display: flex;
// //     flex-wrap: wrap;
// // }

// .grid-item {
//   width: 265px;
//   height: 268px;
//   float: left;
// }

// .grid-item--width2 { width: 275px; }
// .grid-item--width3 { width: 534px; }


// .grid-item--height2 { height: 133px; }
// .grid-item--height3 { height: 183px; }
// .grid-item--height4 { height: 193px; }
// .grid-item--height5 { height: 200px; }
// .grid-item--height6 { height: 404px; }

















// //--------------------------CLIENTS----------------------//

// .clients .row h1 {
//   color: #ffea00;
//   font-size: 18px;
//   font-weight: bold;
//   line-height: 21px;
//   text-transform: uppercase;
//   background-color: #424147;
//   padding: 10px 20px;
//   margin-bottom: 16px;
// }

// .clients .row p {
//   color: #424146;
//   font-size: 16px;
//   font-weight: bold;
//   line-height: 21px;
//   margin-bottom: 40px;
// }







.carousel-control-next, .carousel-control-prev {
 width: 1.9%;
 }













// @media (min-width: 576px) {





// header .navbar .nav-link {
//   color: #000000;
//   font-family: Code;
//   font-size: 16px;
//   font-weight: bold;
//   line-height: 32px;
//   text-transform: uppercase;
//   letter-spacing: 1.6px;
// }

// .carousel-indicators li {
//   background-color: #414146;
//   max-width: 26px;
//   min-height: 26px;
// }
// .carousel-indicators li.active {
//   background-color: #ffea00;
//   max-width: 26px;
//   max-height: 26px;
// }


// }



@media (min-width: 992px) {

  .carousel-control-next, .carousel-control-prev {
  width: 4%;
}

.carousel-item .carousel-caption h1 {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFEA00;
}

.carousel-item .carousel-caption p {
    font-size: 14px;
    font-weight: bold;
    /* line-height: 33px; */
    background-color: #414146;
}

.carousel-item .carousel-caption a {
    font-size: 12px;
    font-weight: bold;
    line-height: 38px;
    color: #FFF;
    background-color: #000;
    border-bottom: 3px solid #FFEA00;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 35%;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
}